In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from api_keys import g_key

In [2]:
#Import weather data

weather_df = pd.read_csv("..\\WeatherPy\\weather_data.csv")
weather_df.head()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind_Speed,Hemisphere
0,Busselton,-33.65,115.33,52.79,52,0,12.15,Southern
1,Cidreira,-30.18,-50.21,66.56,86,100,19.62,Southern
2,Yellowknife,62.46,-114.35,23.00,85,90,9.17,Northern
3,Ushuaia,-54.80,-68.30,48.20,61,75,21.92,Southern
4,Okakarara,-20.58,17.43,94.57,10,45,11.63,Southern

In [3]:
#Store variables to be used in map

locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [38]:
#Create map
gmaps.configure(api_key=g_key)

figure = gmaps.figure()
humidity_heatmap = gmaps.heatmap_layer(locations, weights=humidity, 
                                       dissipating=False, max_intensity=110, 
                                       point_radius = 1)

figure.add_layer(humidity_heatmap)

figure

Figure(layout=FigureLayout(height='420px'))

In [5]:
humidity

0       52.0
1       86.0
2       85.0
3       61.0
4       10.0
       ...
500     64.0
501     78.0
502     22.0
503     74.0
504    100.0
Name: Humidity, Length: 505, dtype: float64

In [6]:
#Narrow down dataframe

vacation_df = weather_df.loc[(weather_df["Temperature"] < 85) & (weather_df["Temperature"] > 70) & (weather_df["Wind_Speed"] < 10) & (weather_df["Cloudiness"] < 10)]
vacation_df = vacation_df.dropna()
vacation_df.count()

City           30
Latitude       30
Longitude      30
Temperature    30
Humidity       30
Cloudiness     30
Wind_Speed     30
Hemisphere     30
dtype: int64

In [7]:
coords_list = []
for index, row in vacation_df.iterrows():
    coords = str(row['Latitude']) + "," + str(row['Longitude'])
    coords_list.append(coords)

hotel_dict = {"Hotel Names": "", "Locations": coords_list}
hotel_df = pd.DataFrame(hotel_dict)
hotel_df.head()

  Hotel Names     Locations
0              -34.42,19.23
1              -6.88,112.21
2               27.53,68.76
3              -6.84,-79.93
4               25.12,62.33

In [27]:
#Work with Google APIs to get hotels

hotels_list = []
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": row["Locations"],
        "types": "lodging",
        "radius": 5000,
        "key": g_key
    }
    response = requests.get(base_url, params)
    hotels = response.json()
    hotels_list.append(hotels["results"][0]["name"])
    

#Put my responses into a list so i didn't have to keep hitting API
hotels_list

IndexError: list index out of range

In [9]:
hotel_names = []
for i in hotels_list["results"][0]:
    hotel_name = hotels_list["name"]
    hotel_names.append(hotel_name)

#hotel_names
hotel_names

TypeError: list indices must be integers or slices, not str

In [26]:
g_key

'AIzaSyBnxBhLONnORL5jVjDkryq0_RPA72kghKY'

In [ ]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]